.App {
  text-align: center;
}

.App h1{
  font-family: 'Orbitron', sans-serif;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px 0px ;
}

.t-rotate{
  width:20px;
  height:20px;
  line-height: 20px;
  animation:spin 1.5s linear infinite;
}

@keyframes spin { 100% {transform:rotate(-360deg); } }

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

label{
  margin: 0px 20px;
  font-size: 25px;
}

 .inputs{
  height: 30px;
  border-radius: 5px;
  margin: 20px 0px;
  font-size: 20px;
  border: none;
  border: solid #17a2b8 2px  ;
}
 .inputs:active,:focus{
  border: none;
  outline: none;
  border: solid #17a2b8 3px  ;
  border-radius: 5px;
} 


.button{
  margin-top: 30px;
  color:  white;
  width: 300px;
  height: 50px;
  border: solid #17a2b8 1px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 30px;
  background-color: #17a2b8;
 }

  .button:hover{
  background-color: #14899b; 
 } 
  
 .cntdwn-wrapper{
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: solid #17a2b8 2px;
   border-radius: 10px;
   width: 40vw;
   align-content: center;
 }

 .cntdwn-wrapper h4{
  margin-top: 10px;
  margin-bottom: 0px;
 }

.cntdwn{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px 20px;
}

.cntdwn p{
  margin: 20px 0px;
  font-size: 50px;
}

